// nav
.wrap-nav {
    @include fb;
    padding: 0 3rem;
}
.link {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

// paddings
.pd-1 {
    padding: 1rem;
}
.p-1-0 {
    padding: 1rem 0;
}

// buttons
.btn {
    color: rgb(132, 0, 240);
    max-width: 125px;
    display: block;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(132, 0, 240);
    text-align: center;
    text-decoration: none;
}

// text
.text-c {
    text-align: center;
}
