*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img, video, svg {
    display: block;
    max-width: 100%;
}
main {
    width: 100%;
    min-height: 100vh;
    padding: 3.75rem 0;
    flex-direction: column;
}

.App {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    padding: 0 15px;
    max-width: 1500px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
