@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }
    .nav {
        display: none;
    }
    .menu {
        @include fb;
    }
    .wrap-nav {
        padding: 0 0rem;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    body {
        font-size: 1.050rem;
    }
}
@media (min-width: 1601px) and (max-width: 1900px) {
    body {
        font-size: 1.150rem;
    }
}
@media (min-width: 1901px) {
    body {
        font-size: 1.2rem;
    }
}