.resume-wrap {
    .grid {
        grid-template-columns: 2fr 3fr;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}

.resume-header {
    padding: 1rem 0 0 0;
}

.resume {
    border: 1px solid #999;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    @include fc;
    flex-direction: column;
    @media (max-width: 768px) {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    h1, h2 {
        font-weight: 600;
    }
    .course-link {
        font-size: 13px;
        @media (max-width: 768px) {
            margin-top: 8px;
        }
    }

    &-dec {
        @include fc;
        margin: 1rem 0 1rem 0rem;
        width: 18%;
        height: 6px;
        border: 1px solid #999;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        position: relative;
        top: 0;
        @media (max-width: 768px) {
            box-shadow: 0;
            height: 5px;
        }
        &::before {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid #999;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
            display: block;
            position: absolute;
            left: -25%;
            @media (max-width: 768px) {
                width: 9px;
                height: 9px;
                left: -50%;
                box-shadow: 0;
            }
        }
    }

    &-title {
        padding: 4px 18px;
        border: 1px solid #999;
        border-radius: 5px;
        font-size: 1rem;
    }
    &-subtitle {
        font-size: 1.125rem;
    }
    &-section {
        @include fc;
        flex-direction: column;
        width: 100%;
        font-size: 0.875rem;
        margin: 1rem 0 1rem 0;
        hr {
            width: 50%;
        }
        @media (max-width: 768px) {
            font-size: 0.775rem;
        }
    }
    &-contacts {
        @include fc;
        flex-direction: column;
        text-align: center;
        padding: 0.25rem 1.75rem;
        p {
            margin: 0.25rem 0;
        }
    }

    &-item {
        font-size: 0.8rem;
        padding: 0.75rem 0;
        h3 {
            margin-top: 0.15rem;
        }
        p {
            margin-top: 0.25rem;
            @media (max-width: 768px) {
                margin-top: 0.5rem;
            }
        }
        @media (max-width: 768px) {
            @include fc;
            flex-direction: column;
            text-align: center;
            font-size: 0.65rem;
        }
    }

    &-r {
        max-width: 97.5%;
        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }

    hr {
        margin: 0.75rem 0 0 0;
    }

    @media (max-width: 768px) {
        margin: 0 0rem;
        padding: 1rem 0rem;
        font-size: 0.7rem;
        h1, h2, h3 {
            @include fc;
            flex-direction: column;
            text-align: center;
        }
    }
    @media (min-width: 769px) and (max-width: 1367px) {
        margin: 0 10rem;
    }
    @media (min-width: 1368px) and (max-width: 1599px) {
        margin: 0 12rem;
    }
    @media (min-width: 1600px) and (max-width: 1900px) {
        margin: 0 12rem;
    }
    @media (min-width: 1901px) {
        margin: 0 12rem;
    }
}


.skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-item {
        @include fc;
        flex-direction: column;
        width: 100%;
        margin: 0.5rem 0;
        font-size: 0.8rem;
        h3 {
            font-size: 0.85rem;
            margin-top: 7px;
        }
    }
    &-bg {
        margin: 0 0.5rem;
        width: 150px;
        height: 8px;
        font-size: 11px;
        background: #fff;
        border: 1px solid #999;
        border-radius: 5px;
        position: relative;
        top: 0;

        @media (max-width: 768px) {
            font-size: 9px;
            min-width: 90px;
            max-width: 100px;
        }
         &::before {
            content: 'Junior';
            position: absolute;
            left: 0;
            top: 5px;
        }
        &::after {
            content: 'Middle';
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
    &-active {
        width: 100%;
        height: 100%;
        background-color: #999;
        position: relative;
        top: 0;
    }
    .sa-1 {
        width: 60%;
    }
    .sa-2 {
        width: 70%;
    }
    .sa-3 {
        width: 50%;
    }
    .sa-4 {
        width: 80%;
    }
    .sa-5 {
        width: 60%;
    }
    .sa-6 {
        width: 90%;
    }
    .sa-7 {
        width: 90%;
    }
    .sa-8 {
        width: 95%;
    }
    .sa-9 {
        width: 100%;
    }
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.course {
    max-width: 85%;
    padding: 0.75rem 0;
    margin: 0.25rem 0;
    h3 {
        @include fc;
        min-height: 47px;
        text-align: center;
        font-size: 0.9rem;
        padding: 0.1rem;
        border: 1px solid #999;
        border-radius: 5px;
    }
    &-sub {
        margin: 0.1rem 0;
        padding: 0.15rem 0 0.35rem 0;
        font-size: 0.8rem;
    }
    &-desc {
        font-size: 0.7rem;
        max-width: 85%;
        margin: 0.1rem 0;
    }
    @media (max-width: 768px) {
        @include fc;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }
}